.body {
  background-color: #b8e2ff;
  color: #014779;
}

.main {
  grid-gap: 20px;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.day-date {
  margin: 0px;
  display: flex;
  justify-content: center;
  color: #014779;
  font-size: 20px;
}

.day-wrapper {
  margin: 0px auto;
  padding: 10px;
  width: 280px;
  min-height: 400px;
  height: fit-content;
  border: 2px solid #014779;
  border-radius: 20px;
}

.bordered {
  border-bottom: 2px solid rgb(1, 71, 121, 0.1);
}

.add-line {
  margin: 5px;
}

.adding-button {
  margin-left: 10px;
  font-weight: 600;
  color: #014779;
  background-color: #b8e2ff;
  border-radius: 5px;
  border: 1px solid #014779;
}

.task {
  display: flex;
  vertical-align: middle;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  text-transform: capitalize;
}

input:checked + label {
  text-decoration: line-through;
  color: rgb(1, 71, 121, 0.7);
}
